/*=========================================================
  Start Header
=========================================================*/
@media(max-width:99.2rem){
}
/*-------------------------------------------------------------------------*/
@media(max-width:76.8rem){
  .carousel-item{
    text-align: center;
    margin-bottom: 4rem;
  }
  .carousel-left h4
{
    margin-right: 0
}
.carousel-left p
{
    margin-right: 0;
}
}
/*-------------------------------------------------------------------------*/
@media(max-width:55.6rem){
  .carousel-left h4
  {
    margin-right: 0;
  }
}
/*-------------------------------------------------------------------------*/
@media(max-width:48rem){
}
/*-------------------------------------------------------------------------*/
@media(max-width:32rem){

}
/*-------------------------------------------------------------------------*/
@media(max-width:29rem){

}
/*End Header*/
/*=========================================================
  Start TINYONE FEATURES
=========================================================*/
@media(max-width:99.2rem){
}
/*-------------------------------------------------------------------------*/
@media(max-width:76.8rem){
  .tinyone-text
  {
      margin-top: 4rem;
  }
}
/*-------------------------------------------------------------------------*/
@media(max-width:55.6rem){

}
/*-------------------------------------------------------------------------*/
@media(max-width:48rem){
}
/*-------------------------------------------------------------------------*/
@media(max-width:32rem){

}
/*-------------------------------------------------------------------------*/
@media(max-width:29rem){

}
/*End TINYONE FEATURES*/
/*-------------------------------------------------------------------------*/
@media(max-width:76.8rem){
.support-info Button
{
  margin-top: 2rem;       
}
.support-info
{
    margin: 0 0rem;
}
}
/*-------------------------------------------------------------------------*/
@media(max-width:36rem){

  .support-info
  {
      margin: 0 0rem;
  }
  }